table {
    table-layout: auto;
    padding: 25px;
    border-collapse: collapse;
    width: 100%;
}

#table-head {
    border-bottom: 1px solid darkgray;
    font-weight: bold;
}

td, th {
    border: 5px solid transparent;
    text-align: left;
    padding: 20px;

}

tr {
    line-height: 200% !important;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    display: inline-block;
    text-decoration: none;
}

.pagination a:link {
    text-decoration: none;
}

.pagination a:active {
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: none;
}

.pagination a:visited {
    text-decoration: none;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #A5A29F;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #c12031;
    color: white;
    border: 1px solid #c12031;
}

.pagination a:hover:not(.active) {
    background-color: #A5A29F;
}

.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

#footer {
    max-width: 1140px;
    display: block;
    bottom: 0;
    margin: 10px auto;
    text-align: center;
}

#pag1, #pag2, #pag3 {
    color: black;
}

#order_list {
     background: #f5f5f5;
     padding: 10px;
 }

.col-1 {
    display: inline;
    width: 300px !important;
    margin-right: 100px;
}

.col-2 {
    text-align: right !important;
    display: inline;
}