table {
    table-layout: auto;
    padding: 25px;
    border-collapse: collapse;
    width: 100%;
}

#table-head {
    border-bottom: 1px solid darkgray;
    font-weight: bold;
}

td, th {
    border: 5px solid transparent;
    text-align: left;
    padding: 20px;

}

tr {
    line-height: 200% !important;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    max-width: 1140px;
    bottom: 0;
    margin: 10px auto;
    text-align: center;
}

.pagination a:link {
    text-decoration: none;
    border: 2px solid #A5A29F !important;
}

.pagination a:hover {
    text-decoration: none;
    border: 2px solid #c12031;
!important;
}

.pagination a:visited {
    text-decoration: none;
    border: 2px solid #A5A29F !important;
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color .3s;
    border: 2px solid #A5A29F;
    margin: 0 5px;
}

.pagination a.active {
    background-color: #c12031;
    color: white;
    border: 2px solid #c12031;
    font-weight: 600;
}

.pagination a:hover:not(.active) {
    background-color: #A5A29F;
}

.footer {
    max-width: 1140px;
    display: block;
    bottom: 0;
    margin: 0px auto;
    text-align: center;
}

#pag1, #pag2, #pag3 {
    color: black;
}

#order_list {
    background: #f5f5f5;
    padding: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

#order_list:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.col-1 {
    display: inline;
    width: 300px !important;
    margin-right: 100px;
}

.col-2 {
    text-align: right !important;
    display: inline;
}

#content_page_wrapper h2.xl-headline {
    font-size: 21px;
}

._4ORMAT_content_page_row .btn {
    font-family: "Planet Light", "Planet Light", sans-serif
}

._4ORMAT_content_page_row .btn:hover {
    border-color: rgba(85, 85, 85, 0.4) !important;
    background: rgba(85, 85, 85, 0.03) !important;
}

body {
    color: black !important;
}

#m {
    display: none;
}

@media screen and (max-width: 768px) {
    #m {
        display: initial;
    }

    #content_page_wrapper h2.xl-headline {
        font-size: 18.2px;
    }

    .col-1 {
        margin-right: 0px !important;
    }

    .col-2 {
        font-size: 16px !important;
    }

    h5 {
        font-size: 20px !important;
    }

    #desktop {
        display: none;
    }

    #backtomenu {
        display: none;
    }
}
