.twelvecol {
    padding-left: 0px !important;
    padding-bottom: 5px;
}

select {

    border: 1px solid rgba(127, 127, 127, 0.5);
    font-size: 1em;
    font-weight: 400;
    padding: 12px 10px;
    margin: 0;
    width: 100%;
}

::placeholder {
    font-family: "Planet Light", sans-serif;
    color: #A5A29F;
}

.category {
    display: none;
}

h3 {
    font-size: 16px !important;
}

#4_format_input_active {
    border-color: black !important;
}

