body {
    font-family: "Planet Light", sans-serif;
}

#content_page_wrapper input{
    border-bottom-width: 1px !important;
}

#appts{
    margin-top: 10px;
    height: 50px;
    border: none;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
}

select[multiple]:focus option:checked {
    background: #c12031 linear-gradient(0deg, #c12031 0%, #c12031 100%);
}

#appts option:hover {
    background-color: lightgrey;
}

#appts option:visited{

    border-radius: 3px;
    color: rgb(137, 137, 137);
    background-color: white !important;
}

#appts:focus {
    outline: none;
}

#appts option{
    width: 80px;
    height: auto;
    font-size: 1rem;
    padding: 10px 0;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    border: rgb(137, 137, 137) solid 1px;
    background-color: white;
    overflow: hidden;
    -moz-overflow:hidden;
}

input[type="text"]::before {
    color: #999999;
    content: attr(placeholder) !important;
}
input[type="text"] {
    color: #ffffff;
}
input[type="text"]:focus,
input[type="text"]:valid {
    color: #666666;
}
input[type="text"]:focus::before,
input[type="text"]:valid::before {
    content: "" !important;
}

.ps-datapicker .day { padding: 0.5em 0!important; }



#apptForm .userName input {
    max-width: 460px;
    height: 32px;
    width: 100%;
    border: 1px solid #dedede;
    padding: 5px 10px;
}

#apptForm .userPhone input {
    max-width: 460px;
    height: 32px;
    width: 100%;
    border: 1px solid #dedede;
    padding: 5px 10px;

}


#apptForm input::-webkit-input-placeholder { color: #d1d1d1; }
#apptForm input::-moz-placeholder { color: #d1d1d1; }
#apptForm input:-ms-input-placeholder { color: #d1d1d1; }
#apptForm input:-moz-placeholder { color: #d1d1d1; }

.appointment-button-group { justify-content: normal; width: 100%; max-width: 460px; }

.submit _4ORMAT_module_submit {
    border: 0;
}
