input, button {
    -webkit-appearance: none;
}

.test {
    padding: 10px;
    border: solid rgba(85, 85, 85, 0.3) 1px;
    background-color: white;
    font-family: "Planet Light", sans-serif;
    text-decoration: none;
}

.test:hover {
    transition: 500ms;
    transition-timing-function: ease-in-out;
    background-color: #f2f2f2;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

#backtomenu {
    padding: 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: #c12031 !important;
    display: block;
}

.clickable {
    display: block;
    height: 180px;
    text-decoration: none;
}

.clickable-admin {
    display: block;
    height: 100px;
    text-decoration: none;
}

#test1, #test2, #test3 {
    color: #c12031 !important;
    text-decoration: none;
    line-height: 2;
    font: 700 2rem 'Planet Light', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;;
}

#test4, #test5, #test6 {
    text-decoration: none;
    color: #c12031 !important;
    line-height: 2;
    font: 700 2rem 'Planet Light', sans-serif;
    padding: 2em 2em;
    letter-spacing: 0.05rem;;
}

.register:link, .register:visited, .register:active {
    text-decoration: none;
}

.register {
    font-size: 16px;
}

.register2 {
    font-size: 16px;
}

.register3 {
    font-size: 12px;
}

.register:hover {
    color: #555555;
}

textarea, input {
    font-family: "Planet Light", sans-serif;
    font-size: 14px;
}

::placeholder {
    font-family: "Planet Light", sans-serif;
}

input:focus {
    border-color: black !important;
    border: 1px solid !important;
    font-size: 14px !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.12);
}

input:visited, input:active {
    border: solid rgba(85, 85, 85, 0.3) 1px;
    font-size: 14px !important;
    background-color: white;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill:hover {
    background-color: white;
}

input:-webkit-autofill:focus {
    background-color: white;
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #333333;
}

textarea:focus {
    border-color: black !important;
    border: 1px solid !important;
    font-size: 14px !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.12);
}

input{
    background-color: #fff !important;
}

textarea:focus {
    border-color: black !important;
    border: 1px solid !important;
    font-size: 14px !important;
}

select option {
    color: black !important;
}

select.empty {
    color: #A5A29F !important;
}

select option[disabled]:first-child {
    display: none;
}

.was-validated .form-control:invalid {
    border-color: #c12031 !important;
    background-color: white !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);

}

.error .was-validated {
    display: inline-block;
}

.btn {
    margin-top: 0px !important;
}

#footer {
    max-width: 300px;
    margin: auto;
    bottom: 0;
    text-align: center;
}

#content_page_wrapper input {
    border-bottom-width: 1px !important;
}

.form-group {
    position: relative;
    margin-bottom: 0.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    margin-left: 10px;
    margin-top: 20px;
    padding: 0 5px 0 5px;
    transition: all 200ms;
    opacity: 0.7;
    background-color: white;
    z-index: 2;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -110%, 0);
    opacity: 1;
}


