.test {
    padding: 10px;
    border: solid rgba(85, 85, 85, 0.3) 1px;
    background-color: white;
    font-family: "Planet Light", sans-serif;
    text-decoration: none;
}

.test:hover {
    transition: 500ms;
    transition-timing-function: ease-in-out;
    background-color: #f2f2f2;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

#backtomenu {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 15px;
    font-size: 18px;
}

#test1, #test2, #test3 {
    color: #c12031 !important;
    text-decoration: none;
    line-height: 2;
    font: 700 2rem 'Planet Light', sans-serif;
    padding: 2em 3em;
    letter-spacing: 0.05rem;;
}

#test4, #test5, #test6 {

    text-decoration: none;
    color: #c12031 !important;
    line-height: 2;
    font: 700 2rem 'Planet Light', sans-serif;
    padding: 2em 3em;
    letter-spacing: 0.05rem;;
}

.register:link, .register:visited, .register:active {
    text-decoration: none;
}

.register {
    font-size: 16px;
}

.register2 {
    font-size: 16px;
}

.register3 {
    font-size: 12px;
}

.register:hover {
    color: #555555;
}

textarea, input{
    font-family: "Planet Light", sans-serif;
    font-size: 14px;
}

::placeholder {
    font-family: "Planet Light", sans-serif;
}

input:focus {
    border-color:black !important;
    border: 1px solid !important;
    font-size: 14px !important;
}

.was-validated .form-control:invalid {
    border-color: #c12031 !important;
    background-color: #ffeef7 !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);

}

.error .was-validated {
    display: inline-block;
}

.btn {
    margin-top: 10px !important;
}

