.draw-border {
    box-shadow: inset 0 0 0 2px darkgrey;
    color: darkgrey;
    transition: color 0.25s 0.08333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
}

.draw-border:hover {
    color: black;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: black;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

Button styling, semi-ignore
.btn1 {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 2;
    font: 700 3rem 'Planet Light', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}

Button styling
:focus, semi-ignore
.btn1
:focus {
    outline: 2px black;
}
