<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>historia zamówień</title>
    <link href="../static/assets/css/style.css" th:href="@{/static/assets/css/style.css}" type="text/css"
          rel="stylesheet"/>
    <link href="../static/assets/css/list.css" th:href="@{/static/assets/css/list.css}" type="text/css"
          rel="stylesheet"/>
    <link href="../static/assets/css/style.css" rel="stylesheet" type="text/css" media="screen"
          th:href="@{/static/assets/css/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='//lucas-rfgv.format.com/stylesheet.css?v=2019-10-30T10:05:15Z' media='screen' rel='stylesheet'
          type='text/css'/>

    <link href='https://static0.format.com/static/theme_api/v1/hosted_fonts-1fa30b0b16e206b04ff76bb76c5399ad06635e59d9fc2a338e015a0554cce89e.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/vendor/webtype_fonts.min-51d9b9edb8f956fb39da113609d790ba607fa4fbda053af8e378bb9233ef4a39.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static2.format.com/static/theme_api/v1/share_panel-1a26721acae26eabd7c32296e2ee8cf053d1a1a8d9f7c49f0df899bc27b784c1.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/v1/protected_images-2fdc6f85260105ac58908b513a09aa9c124e2007c6d4cbe63b3778f16e3a88b9.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static0.format.com/static/theme_api/v1/font-awesome.min-3149da3014aff38a256574aa7aa1b947387efee9cdc1fb2d39e234606f231c96.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/v1/theme_social-c985894a58f09ef7b4feca674406de2916e87cbbb58d420fff1ac15b709ac68c.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static0.format.com/static/theme_api/v1/sales/cart-71d654c3aca9efaf7d54bb83a588db177f85a55f6d10afc1ecb96de9011222ee.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/v1/960_simple-80ab8eb2695abe415bd536608db207267db1a467f2841da1c01b06c3559dd9c6.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/_common/animation-7fc12d665fca943072e7f3c6c84d756b935958c9d92f8a940de7dcfd69c2b253.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static0.format.com/static/_common/module_base-2fd98c28fcd54bcffcd91535e950cee231ed1628ef70fde2086ad0a6c70e968b.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/_common/contact_form-93a485ae0e43cbab1eeafa8172eb4cf0b2ff0c1265f036fe604ce7584c9dba90.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/_common/modal_message-cd25c4ca398e1e31ca8276375f75a14991b41526bbfbeb42dbfa5d76d89cfce7.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!--    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/jquery.js"-->
    <!--            type="text/javascript"></script>-->
    <!--    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/menu_dropdown.js"-->
    <!--            type="text/javascript"></script>-->

    <!--    <script src="https://static2.format.com/static/theme_api/vendor/scrollDelta-1-a3dd9cda1577a24806f10f58011d0abb0bb95829e14b333f8ff198669c28d017.js"></script>-->
    <!--    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/responsive.js"-->
    <!--            type="text/javascript"></script>-->
    <!--    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/mobile_menu.js"-->
    <!--            type="text/javascript"></script>-->
    <!--    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/ls.respimg.min.js"-->
    <!--            type="text/javascript" async=""></script>-->
    <!--    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/lazysizes.min.js"-->
    <!--            type="text/javascript" async=""></script>-->
    <!--    <script src="https://static0.format.com/static/theme_api/vendor/masonry.pkgd-3.3.1.min-406593430aad94f48f85280469948c4435e44d81ce29b62ee1184006c2b5dcb4.js"></script>-->
    <!--    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/theme.js"-->
    <!--            type="text/javascript"></script>-->


    <style>
        ._4ORMAT_content_page_row .btn {
            font-family: "Planet Light", "Planet Light", sans-serif
        }

        ._4ORMAT_content_page_row .btn:hover {
            border-color: rgba(85, 85, 85, 0.4) !important;
            background: rgba(85, 85, 85, 0.03) !important;
        }
    </style>

    <style>
        #content_page_wrapper h2.xl-headline {
            font-size: 21px;
        }

        @media screen and (max-width: 768px) {
            #content_page_wrapper h2.xl-headline {
                font-size: 18.2px;

            }

            .col-1 {
                margin-right: 0px !important;
            }

            .col-2 {
                font-size: 16px !important;
            }

            h5 {
                font-size: 20px !important;
            }

            #order_list {
                /*margin-left: 10px !important;*/
                /*margin-right: 10px !important;*/
            }

            #footer {
                display: none;
            }

            .mobile {
                width: auto;
                height: 40px;
                display: block;
                bottom: 0;
                margin: 10px;
                text-align: center;
            }

            .footerholder {
                margin: 0;
            }

        }
    </style>

</head>
<body>

<!--<div class="_4ORMAT_content_wrapper" id="sort_wrapper">-->
<!--    <form method="GET" th:action="@{/list/0/sort}" action="sort" id="sort">-->
<!--        <div class="_4ORMAT_content_page_row _4ormat_sort_item _4ORMAT_module_contact_10">-->
<!--            <label for="sortBy">Sortuj po:</label>-->
<!--            <select class="form-control" id="sortBy" name="sortcolumn">-->
<!--                <option value="ordernr" th:selected="${sortcolumn}=='ordernr'">Numer zamówienia</option>-->
<!--                <option value="establishdate" th:selected="${sortcolumn}=='establishdate'">Data złożenia zamówienia-->
<!--                </option>-->
<!--                <option value="expecteddate" th:selected="${sortcolumn}=='expecteddate'">Przewidywany termin-->
<!--                    realizacji-->
<!--                </option>-->
<!--                <option value="status" th:selected="${sortcolumn}=='status'">Status realizacji zamówienia</option>-->
<!--                <option value="ordervalue" th:selected="${sortcolumn}=='ordervalue'">Wartość</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="ascdesc">Rodzaj sortowania:</label>-->
<!--            <select class="form-control" id="ascdesc" name="ascdesc">-->
<!--                <option value="asc" th:selected="${ascdesc}=='asc'">Rosnąco</option>-->
<!--                <option value="desc" th:selected="${ascdesc}=='desc'">Malejąco</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="elementsOnPage">Ilość zamówień na stronie:</label>-->
<!--            <input type="number" id="elementsOnPage" name="elements" min="3" max="10"-->
<!--                   th:value="${elements==null?5:elements}" value="5">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input type="submit" class="btn btn-outline-primary" value="Sortuj">-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<div id="content">
    <h2 th:if="${orders.isEmpty()}" class="xl-headline" style="text-align: center; padding-top: 36px; font-size: 21px">
        Nie masz jeszcze żadnych zarejestrowanych zamówień</h2>

    <div th:if="${!orders.isEmpty()}" class="container loaded">
        <div class="_4ORMAT_content_wrapper" id="content_page_wrapper">

            <div class="_4ORMAT_content_page_row _4ormat_sort_item _4ORMAT_module_contact_10" style="padding-top: 5px">
                <h2 style="text-align: center">Historia zamówień</h2>
                <br>

                <div id="order_list" th:each="order : ${orders}" style="margin-bottom: 10px !important;">
                    <div style="max-width: 1140px">
                        <h5 th:text="'Numer zamówienia: '+${order.orderNo}"></h5>
                        <p th:text="'Data złożenia zamówienia: '+${order.dateOfOrder}"></p>


                        <div class="col-1" th:switch="${order.status}">
                            <span style="color:#c12031; font-weight: 700; text-transform: uppercase"
                                  th:case="${order.status.INPROGRESS}">w trakcie realizacji</span>
                            <span style="color:green; font-weight: 700; text-transform: uppercase"
                                  th:case="${order.status.READY}">gotowe, oczekuje na odbiór</span>
                            <span style="color:darkgrey; font-weight: 700; text-transform: uppercase"
                                  th:case="${order.status.RECEIVED}">zrealizowane i odebrane</span>
                        </div>

                        <div class="col-2" th:text="'Wartość: '+${order.value + ' zł'}"
                             style="font-size: 18px; font-weight: 700; float: right">

                        </div>

                    </div>
                </div>

                <!--                <table class="">-->
                <!--                    <thead id="table-head" style="width:100%">-->
                <!--                    <tr>-->
                <!--                        <th>Numer zamówienia</th>-->
                <!--                        <th>Data złożenia zamówienia</th>-->
                <!--                        <th>Przewidywany termin realizacji</th>-->
                <!--                        <th>Status realizacji zamówienia</th>-->
                <!--                        <th>Wartość</th>-->
                <!--                    </tr>-->
                <!--                    </thead>-->
                <!--                    <tbody>-->
                <!--                    <tr th:each="order : ${orders}">-->
                <!--                        <td style="font-weight: 700" th:text="${order.orderNo}"></td>-->
                <!--                        <td th:text="${order.dateOfOrder}"></td>-->
                <!--                        <td th:text="${order.estimatedDate}"></td>-->
                <!--                        <td th:switch="${order.status}">-->
                <!--                                <span style="color:#e80404; font-weight: 700"-->
                <!--                                      th:case="${order.status.INPROGRESS}">w trakcie realizacji</span>-->
                <!--                            <span style="color:green; font-weight: 700"-->
                <!--                                  th:case="${order.status.READY}">gotowe, oczekuje na odbiór</span>-->
                <!--                            <span style="color:darkgrey; font-weight: 700"-->
                <!--                                  th:case="${order.status.RECEIVED}">odebrane</span>-->
                <!--                        </td>-->
                <!--                        <td th:text="${order.value + ' zł'}"></td>-->

                <!--                    </tr>-->
                <!--                    </tbody>-->
                <!--                </table>-->
            </div>

        </div>
    </div>


    <div class="footer">
        <div class="btn1 draw-border" style="padding: 15px; margin:auto; text-align: center;; max-width: 250px">
            <a th:href="@{/menu}" id="backtomenu">powrót do menu
            </a>
        </div>
    </div>

</div>
<div class="_4ORMAT_content_page_row _4ormat_sort_item _4ORMAT_module_contact_10">
    <div class="footerholder">
        <div id="footer">
            <div class="pagination">
            <span th:if="${currentPage gt 0}">
        <a id="pag1"
           th:href="@{/list/{nr}/sort(nr=${currentPage}-${1}, sortcolumn=${sortcolumn}, ascdesc=${ascdesc}, elements=${elements})}">&lt;</a>

    </span>
                <th:block th:if="${!orders.isEmpty()} and ${totalPages>1}" th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:if="${currentPage == i}" class="active">[[${i}+1]]</a>
                    <span th:unless="${currentPage == i}">
             <a id="pag2"
                th:href="@{/list/{nr}/sort(nr=${i}, sortcolumn=${sortcolumn==null?'establishdate':sortcolumn}, ascdesc=${ascdesc==null?'desc':ascdesc}, elements=${elements==null?3:elements})}">[[${i}+1]]</a>
        </span>
                </th:block>

                <span th:if="${currentPage lt totalPages+(-1)}">
        <a id="pag3"
           th:href="@{/list/{nr}/sort(nr=${currentPage+1}, sortcolumn=${sortcolumn==null?'establishdate':sortcolumn}, ascdesc=${ascdesc==null?'desc':ascdesc}, elements=${elements==null?3:elements})}">&gt;</a>
   </span>
            </div>

        </div>
    </div>
</div>

<!--<div class="_4ORMAT_content_page_row _4ormat_sort_item _4ORMAT_module_contact_10">-->
<!--    <div class="footerholder">-->
<!--        <div class="mobile">-->
<!--            <a th:href="@{/menu}">-->
<!--                <div id="mob1" style="float: left;">-->
<!--                    <i class="fa fa-arrow-left fa-3x" style="color: #c12031"></i>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="mobile">-->
<!--            <a href="/logout">-->
<!--                <div id="mob2" style="float: right;">-->
<!--                    <i class="fa fa-power-off fa-3x" style="color: #c12031"></i>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<script src='https://static0.format.com/static/theme_api/v1/4ormat-7ec6872c8e665780eead7b027e2aa66fb06142caecd57b86359163172bf23497.js'
        type='text/javascript'></script>


<script src='https://static1.format.com/static/content_page-7e22221e690c345db9ee0a88104312831204bb61ca799fef76d3efce37ac8339.js'
        type='text/javascript'></script>

<script src='https://static0.format.com/static/_common/large_headline_shim-04d68b28db57598de64ddcbb8e143b86b89b4c6df47f86593d938b79c18c3bc7.js'
        type='text/javascript'></script>

<script src='https://static0.format.com/static/_common/contact_form-a6ae6c621dd884249e13a9fda7c5f28191902db17a4cfd926b19c696fc4bd309.js'
        type='text/javascript'></script>

<script src='https://static0.format.com/static/_common/colour_adjustments-007e264abb344638134a759453f16bebc5b209ed13f19f078cf0fd5f5c676be7.js'
        type='text/javascript'>

</script>

</body>
</html>