<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>menu</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/css/main.css">
    <!--===============================================================================================-->

</head>

<body style="background-color: #666666;">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form" sec:authorize="hasRole('ADMIN')">
					<span class="login100-form-title p-b-43">
						Choose your option
					</span>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn"><a class="login100-form-btn" th:href="@{/orders(page=0, sortcolumn=${'orderdate'}, ascdesc=${'desc'})}" style="color: white">ORDERS</a>
                    </button>
                </div>
<br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn"><a class="login100-form-btn" th:href="@{/appointments}" style="color: white">APPOINTMENTS</a>
                    </button>
                </div>
            </div>

            <div class="login100-more" style="background-image: url('../images/IN37.jpg');">
            </div>
        </div>
    </div>
</div>

        <!--===============================================================================================-->
        <script src="../static/assets/bootstrap/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="../static/assets/bootstrap/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="../static/assets/bootstrap/vendor/bootstrap/js/popper.js"></script>
        <script src="../static/assets/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="../static/assets/bootstrap/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="../static/assets/bootstrap/vendor/daterangepicker/moment.min.js"></script>
        <script src="../static/assets/bootstrap/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="../static/assets/bootstrap/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="../static/assets/bootstrap/js/main.js"></script>

</body>
</html>