<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Error</title>
<link href="../static/assets/css/style.css"
	th:href="@{/static/assets/css/style.css}" type="text/css"
	rel="stylesheet" />
<link href="../static/assets/css/list.css"
	th:href="@{/static/assets/css/list.css}" type="text/css"
	rel="stylesheet" />
<link href="../static/assets/css/style.css" rel="stylesheet"
	type="text/css" media="screen" th:href="@{/static/assets/css/main.css}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href='//lucas-rfgv.format.com/stylesheet.css?v=2019-10-30T10:05:15Z'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static0.format.com/static/theme_api/v1/hosted_fonts-1fa30b0b16e206b04ff76bb76c5399ad06635e59d9fc2a338e015a0554cce89e.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static1.format.com/static/theme_api/vendor/webtype_fonts.min-51d9b9edb8f956fb39da113609d790ba607fa4fbda053af8e378bb9233ef4a39.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static2.format.com/static/theme_api/v1/share_panel-1a26721acae26eabd7c32296e2ee8cf053d1a1a8d9f7c49f0df899bc27b784c1.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static1.format.com/static/theme_api/v1/protected_images-2fdc6f85260105ac58908b513a09aa9c124e2007c6d4cbe63b3778f16e3a88b9.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static0.format.com/static/theme_api/v1/font-awesome.min-3149da3014aff38a256574aa7aa1b947387efee9cdc1fb2d39e234606f231c96.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static1.format.com/static/theme_api/v1/theme_social-c985894a58f09ef7b4feca674406de2916e87cbbb58d420fff1ac15b709ac68c.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static0.format.com/static/theme_api/v1/sales/cart-71d654c3aca9efaf7d54bb83a588db177f85a55f6d10afc1ecb96de9011222ee.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static1.format.com/static/theme_api/v1/960_simple-80ab8eb2695abe415bd536608db207267db1a467f2841da1c01b06c3559dd9c6.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static1.format.com/static/_common/animation-7fc12d665fca943072e7f3c6c84d756b935958c9d92f8a940de7dcfd69c2b253.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static0.format.com/static/_common/module_base-2fd98c28fcd54bcffcd91535e950cee231ed1628ef70fde2086ad0a6c70e968b.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static1.format.com/static/_common/contact_form-93a485ae0e43cbab1eeafa8172eb4cf0b2ff0c1265f036fe604ce7584c9dba90.css'
	media='screen' rel='stylesheet' type='text/css' />

<link
	href='https://static1.format.com/static/_common/modal_message-cd25c4ca398e1e31ca8276375f75a14991b41526bbfbeb42dbfa5d76d89cfce7.css'
	media='screen' rel='stylesheet' type='text/css' />

<style>
._4ORMAT_content_page_row .btn {
	font-family: "Planet Light", "Planet Light", sans-serif
}

._4ORMAT_content_page_row .btn:hover {
	border-color: rgba(85, 85, 85, 0.4) !important;
	background: rgba(85, 85, 85, 0.03) !important;
}
</style>

<style>
#content_page_wrapper h2.xl-headline {
	font-size: 21px;
}

@media screen and (max-width: 768px) {
	#content_page_wrapper h2.xl-headline {
		font-size: 18.2px;
	}
	.col-1 {
		margin-right: 0px !important;
	}
	.col-2 {
		font-size: 16px !important;
	}
	h5 {
		font-size: 20px !important;
	}
}
</style>
</head>
<body>
	<h1
		style="text-align: center; padding-top: 75px; font-size: 22px; margin-bottom: 30px">Zdjęcia</h1>

	<section class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h2>Zdjęcia z projektu</h2>
					<p th:text="${message}"></p>
					<form method="post" th:action="@{/upload/{id}(id=${orderId})}"
						enctype="multipart/form-data">
						<div class="form-group">
							<input type="file" name="file" class="form-control-file">
						</div>
						<button type="submit" class="btn btn-primary">Upload File</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- <img th:src="@{/images/logo2020.png}" /> -->

	<div th:each="photoName : ${photosNames}">
		<a th:href="@{/image/{id}/{name}(id=${orderId},name=${photoName})}"
			target="_blank"> 
			<img th:src="@{/image/{id}/{name}(id=${orderId},name=${photoName})}" width="400" />
		</a>
	</div>

	<div class="footer">
		<div class="btn1 draw-border"
			style="padding: 15px; margin: auto; margin-top: 150px; text-align: center;; max-width: 250px">
			<!--        <a th:href="@{/menu}" id="backtomenu">powrót do menu-->
			<!--        </a>-->
			<a th:href="@{/}" id="backtomenu">umów wizytę </a>
		</div>
	</div>
</body>
</html>