<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Obsługa zdjęć</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/assets/css/orders.css" th:href="@{/static/assets/css/orders.css}" type="text/css"
          rel="stylesheet"/>

    <link href='https://static0.format.com/static/theme_api/v1/hosted_fonts-1fa30b0b16e206b04ff76bb76c5399ad06635e59d9fc2a338e015a0554cce89e.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/vendor/webtype_fonts.min-51d9b9edb8f956fb39da113609d790ba607fa4fbda053af8e378bb9233ef4a39.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static2.format.com/static/theme_api/v1/share_panel-1a26721acae26eabd7c32296e2ee8cf053d1a1a8d9f7c49f0df899bc27b784c1.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/v1/protected_images-2fdc6f85260105ac58908b513a09aa9c124e2007c6d4cbe63b3778f16e3a88b9.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static0.format.com/static/theme_api/v1/font-awesome.min-3149da3014aff38a256574aa7aa1b947387efee9cdc1fb2d39e234606f231c96.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/v1/theme_social-c985894a58f09ef7b4feca674406de2916e87cbbb58d420fff1ac15b709ac68c.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static0.format.com/static/theme_api/v1/sales/cart-71d654c3aca9efaf7d54bb83a588db177f85a55f6d10afc1ecb96de9011222ee.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/v1/960_simple-80ab8eb2695abe415bd536608db207267db1a467f2841da1c01b06c3559dd9c6.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/_common/animation-7fc12d665fca943072e7f3c6c84d756b935958c9d92f8a940de7dcfd69c2b253.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

<style>
    body {
        font-family: "Planet Light", sans-serif !important
    }


</style>

<script type="text/javascript">
	function fileValidation(){
	    var fileInput = document.getElementById('file');
	    var filePath = fileInput.value;
	    var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
	    if(!allowedExtensions.exec(filePath)){
	    	document.getElementById('imagePreview').innerHTML = '';
	        alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
	        fileInput.value = '';
	        return false;
	    }else{
	        //Image preview
	        if (fileInput.files && fileInput.files[0]) {
	            var reader = new FileReader();
	            reader.onload = function(e) {
	                document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'" width="200"/>';
	                document.getElementById('submit').style.visibility = 'inherit';
	            };
	            reader.readAsDataURL(fileInput.files[0]);
	        }
	    }
	}
</script>
</head>

<body>
<div class="card-body">
<h1 id="page-header-text"
    style="text-align: center; margin-top: 10px !important; margin-bottom: 15px !important; letter-spacing: 0.05rem; font: 40px 'Planet Book', sans-serif !important; color: #c12031">
    Obsługa zdjęć</h1>
</div>
	<section class="my-5" style="margin-top: 0rem !important; margin-bottom: 0rem !important;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">

					<h2>Zdjęcia do zamówienia: <span th:text="${orderNo}"></span></h2>
					<p th:text="${message}"></p>
					<form method="post" th:action="@{/upload/{id}(id=${orderId})}"
						enctype="multipart/form-data">
						<div class="form-group">
							<input type="file" name="file" id="file" onchange="return fileValidation()" class="form-control-file">
						</div>
						<button type="submit" class="btn btn-primary" id="submit" style="visibility: hidden">Click to upload</button>
					</form>
					<div id="imagePreview" style="margin-top: 15px; margin-bottom: 15px;"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- <img th:src="@{/images/logo2020.png}" /> -->

	<div th:each="photoName : ${photosNames}" style="padding: 15px; margin: auto; margin-bottom: 15px; text-align: center">
		<div th:text="${photoName}">
		</div>
		<a th:href="@{/image/{id}/{name}(id=${orderId},name=${photoName})}"
			target="_blank">
			<img th:src="@{/image/{id}/{name}(id=${orderId},name=${photoName})}" width="400" />
		</a>
		<div style="margin-top: 10px">
			<a th:href="@{/image/delete/{id}/{name}(id=${orderId},name=${photoName})}">usuń</a>
		</div>
	</div>

	<div class="footer">
		<div style="padding: 15px; margin: auto; margin-top: 15px; text-align: center; max-width: 250px">
			<!--        <a th:href="@{/menu}" id="backtomenu">powrót do menu-->
			<!--        </a>-->
			<a th:href="@{/edit/{id}(id=${orderId})}">powrót do edycji zamówienia</a>
		</div>
	</div>
</body>
</html>