<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>zarejestruj się</title>
    <link href="../static/css/style.css" th:href="@{/static/css/style.css}" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='//lucas-rfgv.format.com/stylesheet.css?v=2019-10-30T10:05:15Z' media='screen' rel='stylesheet'
          type='text/css'/>

    <link href='https://static0.format.com/static/theme_api/v1/hosted_fonts-1fa30b0b16e206b04ff76bb76c5399ad06635e59d9fc2a338e015a0554cce89e.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/vendor/webtype_fonts.min-51d9b9edb8f956fb39da113609d790ba607fa4fbda053af8e378bb9233ef4a39.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static2.format.com/static/theme_api/v1/share_panel-1a26721acae26eabd7c32296e2ee8cf053d1a1a8d9f7c49f0df899bc27b784c1.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/v1/protected_images-2fdc6f85260105ac58908b513a09aa9c124e2007c6d4cbe63b3778f16e3a88b9.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static0.format.com/static/theme_api/v1/font-awesome.min-3149da3014aff38a256574aa7aa1b947387efee9cdc1fb2d39e234606f231c96.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/v1/theme_social-c985894a58f09ef7b4feca674406de2916e87cbbb58d420fff1ac15b709ac68c.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static0.format.com/static/theme_api/v1/sales/cart-71d654c3aca9efaf7d54bb83a588db177f85a55f6d10afc1ecb96de9011222ee.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/theme_api/v1/960_simple-80ab8eb2695abe415bd536608db207267db1a467f2841da1c01b06c3559dd9c6.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/_common/animation-7fc12d665fca943072e7f3c6c84d756b935958c9d92f8a940de7dcfd69c2b253.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static0.format.com/static/_common/module_base-2fd98c28fcd54bcffcd91535e950cee231ed1628ef70fde2086ad0a6c70e968b.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/_common/contact_form-93a485ae0e43cbab1eeafa8172eb4cf0b2ff0c1265f036fe604ce7584c9dba90.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <link href='https://static1.format.com/static/_common/modal_message-cd25c4ca398e1e31ca8276375f75a14991b41526bbfbeb42dbfa5d76d89cfce7.css'
          media='screen' rel='stylesheet' type='text/css'/>

    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/jquery.js"
            type="text/javascript"></script>
    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/menu_dropdown.js"
            type="text/javascript"></script>

    <script src="https://static2.format.com/static/theme_api/vendor/scrollDelta-1-a3dd9cda1577a24806f10f58011d0abb0bb95829e14b333f8ff198669c28d017.js"></script>
    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/responsive.js"
            type="text/javascript"></script>
    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/mobile_menu.js"
            type="text/javascript"></script>
    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/ls.respimg.min.js"
            type="text/javascript" async=""></script>
    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/lazysizes.min.js"
            type="text/javascript" async=""></script>
    <script src="https://static0.format.com/static/theme_api/vendor/masonry.pkgd-3.3.1.min-406593430aad94f48f85280469948c4435e44d81ce29b62ee1184006c2b5dcb4.js"></script>
    <script src="https://bucket0.format-assets.com/theme_versions/4785108/assets/javascripts/theme.js"
            type="text/javascript"></script>


    <style>._4ORMAT_content_page_row .btn {
        font-family: "Planet Light", "Planet Light", sans-serif
    }

    ._4ORMAT_content_page_row .btn:hover {
        border-color: rgba(85, 85, 85, 0.4) !important;
        background: rgba(85, 85, 85, 0.03) !important;
    }</style>

    <style>#content_page_wrapper h2.xl-headline {
        font-size: 21px;
    }

    @media screen and (max-width: 768px) {
        #content_page_wrapper h2.xl-headline {
            font-size: 18.2px;
        }
    }</style>

</head>
<body>
<!--<div th:replace="fragments :: header"></div>-->
<!--<div th:replace="fragments :: language"></div>-->


<div id="content">
    <div class="container loaded">
        <div class="_4ORMAT_content_wrapper" id="content_page_wrapper">
            <div class="_4ORMAT_content_page_row _4ormat_sort_item _4ORMAT_module_contact_10">
                <div class=" align_center">
                    <h2 th:text="${info}" style="color: red">Bad credentials</h2>
                    <div class="fourcol spacer"></div>
                    <div class="fourcol">

                            <form data-editable-type="contact-form" id="contact_form_1" class=" email_form"
                                  name="contact_form_1"
                                  th:action="@{/resetpassword}" method="post">
                                <h2 style="margin-left: 5px; margin-top: 20px">Podaj nr telefonu i adres email, użyte przy rejestracji</h2>

                                <div class="row naked">
                                    <div class="twelvecol last">
                                        <fieldset class>
                                            <input class-="_4ORMAT_module_contact_input" id="username" type="text"
                                                   name="phoneNumber"
                                                   style="border-color: rgba(85, 85, 85, 0.3); border-bottom-width: 1px" placeholder="Numer telefonu">
                                            <div class="_4ORMAT_module_contact_label  " data-editable-type="label"
                                                 data-force-html-mode="false" >
                                            </div>
<!--                                            <span class="error" style="color:#e80404" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>-->
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row naked">
                                    <div class="twelvecol last">
                                        <fieldset class>
                                            <input class-="_4ORMAT_module_contact_input invalid" id="email" name="email"
                                                   type="text"
                                                   style="border-color: rgba(85, 85, 85, 0.3); border-bottom-width: 1px"
                                                   placeholder="E-mail">
                                            <div class="_4ORMAT_module_contact_label  " data-editable-type="label"
                                                 data-force-html-mode="false">
                                            </div>
<!--                                            <span class="error" style="color:#e80404"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
                                        </fieldset>
                                    </div>
                                </div>
                                <fieldset class="submit _4ORMAT_module_submit_left">
                                    <input class="btn primary _4ORMAT_module_contact_btn _4ORMAT_module_contact_input"
                                           type="submit"
                                           value=""
                                           style="border-color: rgba(85, 85, 85, 0.3); margin-top: 10px">
                                    </input>
                                    <div class="_4ORMAT_module_contact_label  " data-editable-type="label" id="label_4"
                                         style="display:none" data-force-html-mode="false">Wyślij nowe hasło
                                    </div>
                                </fieldset>
                            </form>
                        <div class="_4ORMAT_content_page_row">
                            <h4 class="register2">
                                <a class="register" title="Zaloguj się" th:href="@{/login}">Powrtót do strony logowania
                                </a>
                            </h4>
                        </div>
                            <div class="fourcol spacer last">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src='https://static0.format.com/static/theme_api/v1/4ormat-7ec6872c8e665780eead7b027e2aa66fb06142caecd57b86359163172bf23497.js'
            type='text/javascript'></script>


    <script src='https://static1.format.com/static/content_page-7e22221e690c345db9ee0a88104312831204bb61ca799fef76d3efce37ac8339.js'
            type='text/javascript'></script>

    <script src='https://static0.format.com/static/_common/large_headline_shim-04d68b28db57598de64ddcbb8e143b86b89b4c6df47f86593d938b79c18c3bc7.js'
            type='text/javascript'></script>

    <script src='https://static0.format.com/static/_common/contact_form-a6ae6c621dd884249e13a9fda7c5f28191902db17a4cfd926b19c696fc4bd309.js'
            type='text/javascript'></script>

    <script src='https://static0.format.com/static/_common/colour_adjustments-007e264abb344638134a759453f16bebc5b209ed13f19f078cf0fd5f5c676be7.js'
            type='text/javascript'>

    </script>
</body>
</html>